body {
  font-family: "Poppins", sans-serif;
  margin: 0px; 
  height: 100vh;
  background-color: #1b244a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  width: 80%; 
  max-width: 600px; 
  margin-bottom: 20px;
}

.team {
  text-align: center;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 3px;
}

.score {
  font-family: 'Digital-7 Mono', monospace;
  font-size: 6em;
  margin: 10px 0;
  background-color: black;
  padding: 20px 50px;
  border-radius: 10px;
  color: #f94f6d;
  text-shadow: 0 0 20px #f94f6d, 0 0 40px #f94f6d;
  
}


.buttons button {
  background-color: transparent;
  color: white;  
  border: 2px solid white;
  margin: 5px; 
  padding: 10px 15px; 
  font-size: 1em; 
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: white;
  color: #1b244a;
}

.reset {
  background-color: #f94f6d;
  border: none;
  color: white;
  padding: 10px 25px; 
  font-size: 1.2em; 
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.reset:hover {
  background-color: #ff758c;
}



